@import '../../styles/colors.scss';

.gallery {
  .title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    color: $heading-color;
    margin-bottom: 50px;
    margin-top: 20px;

    .divider {
      width: 100px;
      height: 5px;
      background-color: $highlight-color;
      margin: auto;
      border-radius: 50px;
    }
  }

  .galleryTiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }


}