@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.extratour {
  .hero {
    img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .extratoursDesc {
    margin: 10px 0px;

    .title {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;

      .titlee {
        font-size: 32px;
        font-weight: 800;
        text-transform: uppercase;
        color: $heading-color;
        text-align: center;

        .divider {
          width: 150px;
          height: 5px;
          background-color: $highlight-color;
          border-radius: 50px;
        }

        @include small-down {
          font-size: 24px;
          text-align: left;

          .divider {
            width: 100px;
          }
        }

      }


      button {
        padding: 5px 10px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        background-color: $primary-color;
        border: none;
        color: white;
        font-weight: 700;
      }

    }

    .content {
      display: flex;
      margin: 50px 0px;

      .left {
        flex: 5;

        p {
          font-size: 18px;
          letter-spacing: 1px;
          text-align: justify;
        }
      }

      .right {
        flex: 1;
        background-color: $background-highlight;
        border-radius: 5px;
        padding: 20px;
        margin-left: 20px;

        @include small-down {
          display: none;
        }
      }
    }
  }

}