@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.tour {
  .tourHero {
    .swiperdiv {
      position: relative;

      img {
        height: 70vh;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }

  .tourDetailsSection {
    display: flex;
    margin: 20px 0px;

    @include small-down {
      flex-direction: column-reverse;
    }

    .tourDetailsBarSection {
      width: 80vw;

      .title {
        font-size: 28px;
        color: $heading-color;
        font-weight: 700;
        margin: 10px 0px;
      }

      p {
        letter-spacing: 1px;
        text-align: justify;
        font-weight: 300;
      }

      .itenery {
        ol {
          margin-left: 20px;

          li {
            font-size: 18px;
          }
        }
      }
    }

    .tourDetailsBar {
      padding: 10px;
      border-radius: 5px;


      @include small-down {
        margin-top: 20px;
        width: fit-content;
      }

      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);

      .tourDetails {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include small-down {
          flex-direction: column;
          align-items: start;
        }

        .tourDetail {
          font-size: 18px;
          display: flex;
          align-items: center;

          @include small-down {
            margin-bottom: 20px;
          }

          &:last-child {
            background-color: $highlight-color;
            color: white;
            font-size: 22px;
            font-weight: 700;
            margin: -10px;
            border-radius: 5px;
            flex-direction: row-reverse;
            padding: 10px;
            cursor: pointer;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include small-down {
              width: 100%;
              display: none;
            }

            i {
              color: white;

              margin-left: 10px;
            }
          }

          i {
            margin-right: 10px;
            color: $highlight-color;
          }
        }
      }
    }

    .sidebar {
      margin-left: 20px;
      padding: 10px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
      width: 50vw;
      border-radius: 5px;

      @include small-down {
        display: flex;
        width: fit-content;
        margin-left: 0px;
      }

      .title {
        font-size: 28px;
        font-weight: 700;
        color: $heading-color;

        @include small-down {
          font-size: 22px;
        }

        .divider {
          width: 100px;
          height: 5px;
          background-color: orangered;
          border-radius: 50px;
        }

        margin-bottom: 20px;
      }

      .top {

        .duration {
          margin-bottom: 10px;


          label {
            font-size: 18px;
            font-weight: 600;

            @include small-down {
              font-size: 16px;
            }
          }

          span {
            font-weight: 400;
          }

        }

        .items {
          display: flex;
          flex-direction: column;

          .item {
            margin: 5px 0px;

            label {
              font-size: 18px;
              font-weight: 600;

              @include small-down {
                font-size: 16px;
              }
            }

            span {
              font-weight: 400;
            }

          }

        }

        .price {
          display: flex;
          flex-direction: column;
          margin: 10px 0px;

          label {
            color: $price-color;
            font-weight: 700;
            font-size: 28px;

            @include small-down {
              font-size: 24px;
            }
          }

          span {
            font-size: 16px;
            font-weight: 300;

            @include small-down {
              font-size: 12px;
            }
          }
        }
      }

      .bottom {

        @include small-down {
          margin-left: 10px;
        }

        form {

          .error {
            color: red;
            font-weight: 700;
            font-size: 14px;
          }

          .formitem {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            label {
              font-size: 18px;
              font-weight: 700;

              @include small-down {
                font-size: 16px;
              }
            }

            input {
              padding: 5px 10px;
              outline-color: $highlight-color;
              border-radius: 5px;
              border: 1px solid lightgray;
            }

            button {
              padding: 5px;
              font-size: 18px;
              border-radius: 5px;
              border: none;
              background-color: $primary-color;
              color: white;
              cursor: pointer;
            }
          }
        }
      }



    }
  }



}