@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
  border-top: 1px solid lightgray;
  padding-top: 50px;

  .error {
    color: red;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
  }

  h1 {
    color: $highlight-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: 500;
  }

  .forms {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;

    @include small-down {
      flex-direction: column;

      button {
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;
      }
    }

    .socials {
      margin-right: 20px;
      display: flex;

      .social {
        font-size: 28px;
        margin-left: 20px;
        cursor: pointer;
      }
    }

    input {
      width: 400px;
      padding: 20px 20px;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      outline: $highlight-color;

      @include small-down {
        width: 200px;
      }
    }

    button {
      padding: 20px 20px;
      background-color: $primary-color;
      border: none;
      color: white;
      font-weight: 900;
      font-size: 20px;

      cursor: pointer;
    }
  }
}