@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.home {
  font-family: $primary-font;

  .greetTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 20px;
    color: $heading-color;

    @include small-down {
      font-size: 20px;
      text-align: center;
    }

    .divider {
      width: 250px;
      height: 5px;
      background-color: $highlight-color;
      border-radius: 50px;

      @include small-down {
        width: 100px;
      }
    }
  }

  .viewMore {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 10px 5px;
      border-radius: 5px;
      border: none;
      font-size: 22px;
      background-color: $highlight-color;
      color: white;
      font-weight: 800;

      &:hover {
        cursor: pointer;
      }
    }
  }
}