@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.sidebar {
  @include small-down {
    display: none;
  }

  .sidebar-items {
    display: flex;
    flex-direction: column;

    .sidebar-item {
      padding: 20px;
      font-size: 20px;
      background-color: white;
      margin-top: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        margin-top: 30px;
        transition: 0.2s ease-in-out;
        color: $highlight-color;
      }

      &:first-child {
        &:hover {
          margin-top: 20px;
        }
      }

    }
  }
}