@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.tours {
  .hero {
    position: relative;

    img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      border-radius: 5px;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 34px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);

        @include small-down {
          font-size: 24px;
        }
      }
    }
  }

  .middleheading {
    font-size: 32px;
    font-weight: 900;
    color: $heading-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include small-down {
      font-size: 24px;
    }

    .divider {
      width: 150px;
      height: 5px;
      background-color: $highlight-color;
      border-radius: 50px;
    }
  }

  .toursList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}